<script src="https://www.google.com/recaptcha/api.js" async defer></script>

<section>
    {% assign comments_subfolder = page.url | slugify %}
    {% assign comment_files = site.data.comments[comments_subfolder] %}
    {% assign comments = '' | split: '' %}
    {% for comment_file in comment_files %}
        {% assign comment = comment_file[1] %}
        {% assign comments = comments | push: comment %}
    {% endfor %}
    {% assign comments = comments | sort: 'date' %}

    <h2>Kommentare ({{ comment_files.size | default: 0 }})</h2>

    <div id="comments">
    {% for comment in comments %}
        {% include comment.html name=comment.name message=comment.message date=comment.date %}
    {% endfor %}
    </div>
    
    <h3>Kommentar abgeben</h3>

    <form method="POST" action="https://elis-blog-backend.fly.dev/v3/entry/github/elias-gander/elias-gander.github.io/main/comments">
        <input name="options[redirect]" type="hidden" value="{{ '/ok.html' | absolute_url }}">

        <input name="options[slug]" type="hidden" value="{{ comments_subfolder }}">
        <input name="fields[name]" placeholder="Dein Name" type="text" required>
        <textarea name="fields[message]" placeholder="Dein Kommentar"></textarea>

        <button type="submit">Absenden</button>

        <input type="hidden" name="options[reCaptcha][siteKey]" value="6LdC_1IpAAAAAP0p5G3k0_Z8Hx_Y4A0elPSF73Jh">
        <input type="hidden" name="options[reCaptcha][secret]" value="tgWJUmG2WVK0oAfs9zblakxMWtsQ0kxr3kTDd4VGtOuJ93ve/yyiIKT5u2P0S+YhO4magbiS4MZvDPtS/0CgoeJgolwyboiJzyABD4HLrkam0v6F4FHS17rhnrsq92NFqsZk4FTnUgHSLrYT68zonoj4vIH0hOtdNdSj2KiUrzDHEHsAxWraa/2ppBvMLjBYwoq0QkxezJ+2D+99g4HWpISbGeMuK62MjXgfYGThhkPz7bYDL1VPb8Ey2j5v+xpPXBHAbWTvqIWLonua+3KRCZtQOTCyp3rN3Z+lWP3D8eyDH3P0Iq9JCYC59YaZrHVoBDGM6ANzchqbG6AcTBhgug==">
        <div class="g-recaptcha" data-sitekey="6LdC_1IpAAAAAP0p5G3k0_Z8Hx_Y4A0elPSF73Jh"></div>
    </form>
</section>

<style>
    textarea {
        resize: vertical; 
        display: block; 
        width: 100%; 
        height: 100px; 
    }

    input, textarea, button {
        font-family: monospace;
        font-size: 16px;
        margin-bottom: 1rem;
    }
</style>
