<figure>
    <div class="media-container">
        <video autoplay loop muted playsinline class="media">
            <source src="{{ include.path }}" type="video/mp4">
        </video>
        {% if include.link != null and include.link != "" %}
        <a href="{{ include.link }}" target="_blank" rel="noopener noreferrer">
            <img src="../media-link.svg" width="32" height="32" class="media-link">
        </a>
        {% endif %}
    </div>
    <figcaption>{{ include.caption }}</figcaption>
</figure>