:root {
  --card-aspect-ratio: calc(838 / 1200);
}

html,
body {
  position: relative;
  display: flex;
  height: 100dvh;
  width: 100dvw;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: black;
}

@media (min-aspect-ratio: 838 / 1200) {
  html,
  body {
    justify-content: right;
    align-items: center;
  }
}

@media (max-aspect-ratio: 838 / 1200) {
  html,
  body {
    justify-content: center;
    align-items: last baseline;
  }
}

/* ----- LANDKARTE UND MARKERS ----- */

#map {
  position: fixed;
  width: 100dvw;
  height: 100dvh;
}

.crosshair-icon {
  position: relative;
}

.crosshair-icon:before,
.crosshair-icon:after {
  content: "";
  position: absolute;
  background-color: red;
  transition: transform 0.3s;
}

.crosshair-icon:before {
  width: 3px;
  height: 100%;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

.crosshair-icon:after {
  height: 3px;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.crosshair-icon.selected:before {
  transform: translateX(-50%) rotate(45deg);
}
.crosshair-icon.selected::after {
  transform: translateY(-50%) rotate(45deg);
}

.marker-cluster span {
  font-weight: bold;
  color: white;
}

.marker-cluster-large {
  background-color: rgba(255, 0, 0, 0.8) !important;
}

.marker-cluster-large div {
  background-color: rgba(255, 0, 0, 0.8) !important;
}

.marker-cluster-medium {
  background-color: rgba(255, 0, 0, 0.6) !important;
}

.marker-cluster-medium div {
  background-color: rgba(255, 0, 0, 0.6) !important;
}

.marker-cluster-small {
  background-color: rgba(255, 0, 0, 0.4) !important;
}

.marker-cluster-small div {
  background-color: rgba(255, 0, 0, 0.4) !important;
}

/* ----- INFOS ----- */

#infos-link {
  position: fixed;
  top: 0;
  right: 0;
  margin: 10px;
  color: red;
  font-size: 20px;
  border: 2px solid red;
  border-radius: 5px;
  cursor: pointer;
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 24px;
}

#infos {
  position: fixed;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  pointer-events: none;
  transition: width 0.3s, height 0.3s, padding 0.3s;
  max-width: 400px;
  max-height: 160px;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
}

#infos.visible {
  pointer-events: auto;
  width: 100dvw;
  height: 100dvh;
  padding: 30px;
}

/* ----- QUARTETTKARTE ----- */

#card-container {
  position: relative;
  height: min(90%, 90dvw / var(--card-aspect-ratio));
  max-height: 1200px;
  max-width: 90%;
  aspect-ratio: var(--card-aspect-ratio);
  padding: 5%;
  perspective: max(100dvh, 100dvw);
  pointer-events: none;
}

#card {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: min(4dvh, 4dvw / var(--card-aspect-ratio));
  box-shadow: 0 0 min(4dvh, 4dvw / var(--card-aspect-ratio)) rgba(0, 0, 0, 0.6);
  transform-style: preserve-3d;
  pointer-events: auto;
  transition: transform 0.3s;
  visibility: hidden;
}

#card.flipped {
  transform: rotateY(180deg);
  pointer-events: none;
}

#inner-card-front,
#inner-card-back {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  backface-visibility: hidden;
}

#inner-card-front {
  background-image: url("assets/card/card_blank.jpg");
  background-size: cover;
}

#inner-card-back {
  background-image: url("assets/card/card_back.jpg");
  background-size: cover;
  transform: rotateY(180deg);
}

#category-id {
  position: absolute;
  left: 14%;
  transform: translate(-50%, 0);
  top: 3%;
  font-size: min(6dvh, 6dvw / var(--card-aspect-ratio));
  font-weight: bolder;
  font-style: italic;
  color: white;
  -webkit-text-stroke: min(0.25dvh, 0.25dvw / var(--card-aspect-ratio)) black;
  text-shadow: min(0.5dvh, 0.5dvw / var(--card-aspect-ratio))
    min(0.5dvh, 0.5dvw / var(--card-aspect-ratio)) 0 rgba(0, 0, 0, 0.2);
  font-family: "Orbitron", sans-serif;
  font-weight: 1000;
}

#category {
  position: absolute;
  left: 27%;
  right: 6%;
  top: 7%;
  text-align: center;
  font-weight: bold;
  font-family: "Sofia Sans Condensed";
  font-weight: 700;
  font-size: min(2.5dvh, 2.5dvw / var(--card-aspect-ratio));
}

#photo {
  position: absolute;
  left: 7%;
  top: 14.5%;
  aspect-ratio: 722 / 455;
  width: 86.5%;
  height: auto;
}

#location-name {
  position: absolute;
  left: 0;
  right: 0;
  top: 54.5%;
  text-align: center;
  font-size: min(4dvh, 4dvw / var(--card-aspect-ratio));
  font-style: italic;
  font-weight: 900;
  font-family: "Sofia Sans Condensed";
}

#description {
  position: absolute;
  right: 9%;
  top: 60%;
  font-size: min(1.6dvh, 1.6dvw / var(--card-aspect-ratio));
  font-style: italic;
}

#bezirkswappen {
  position: absolute;
  left: 10.5%;
  top: 64.5%;
  aspect-ratio: 125 / 163;
  width: 13%;
  max-width: 125px;
  filter: drop-shadow(
    min(0.3dvh, 0.3dvw / var(--card-aspect-ratio))
      min(0.3dvh, 0.3dvw / var(--card-aspect-ratio)) 0 rgba(0, 0, 0, 0.2)
  );
}

#plz {
  position: absolute;
  left: 12%;
  top: 77%;
  font-size: min(2dvh, 2dvw / var(--card-aspect-ratio));
  font-weight: bold;
  background: white;
  border-radius: 50%;
  padding: min(0.8dvh, 0.8dvw / var(--card-aspect-ratio));
  border: min(0.25dvh, 0.25dvw / var(--card-aspect-ratio)) solid black;
  box-shadow: min(0.3dvh, 0.3dvw / var(--card-aspect-ratio))
    min(0.3dvh, 0.3dvw / var(--card-aspect-ratio)) 0 rgba(0, 0, 0, 0.2);
}

#links {
  position: absolute;
  bottom: 4%;
  font-size: min(1.4dvh, 1.4dvw / var(--card-aspect-ratio));
  max-width: 15%;
  left: 11%;
  line-height: 1.2;
  hyphens: auto;
  font-style: italic;
  text-indent: max(-1.5dvh, -1.5dvw / var(--card-aspect-ratio));
}

#links span {
  display: block;
  margin-top: min(0.4dvh, 0.4dvw / var(--card-aspect-ratio));
}

.stat-label {
  position: absolute;
  left: 42%;
  top: 66.5%;
  font-size: min(1.8dvh, 1.8dvw / var(--card-aspect-ratio));
  font-style: italic;
}

#trend-label {
  margin-top: 10.5%;
}

#lkwratio-label {
  margin-top: 21%;
}

#lanes-label {
  margin-top: 32%;
}

.stat {
  position: absolute;
  right: 8.5%;
  top: 66%;
  font-size: min(3.5dvh, 3.5dvw / var(--card-aspect-ratio));
  font-style: italic;
}

#trend {
  margin-top: 10.5%;
}

#lkwratio {
  margin-top: 21.5%;
}

#lanes {
  margin-top: 33%;
}
